SERVER_URL=http://localhost:3001 # Server URL.

PORT=3001 # PORT by default by the server.

NODE_ENV=development # production, development, test

LOG_LEVEL="info" #  info, warn, error, debug. Used by pino logger.

# PostgreSQL Database configuration

DB_HOST=localhost # Where the database is hosted.

DB_PORT=5433 # Default PostgreSQL port.

DB_USER=postgres.user # Database user.

DB_PASSWORD="StrongPassword123" # Database password.

DB_NAME=postgres # Database name.
